@import url("fonts/arial-mt.css");
html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
    font-size: 14px;
    font-family: 'Arial MT Std Medium';
    line-height: 16px;
    color: #565656;
}


/* header components */

header {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.branding {
    position: relative;
    width: 100%;
}

.heading {
    width: 100%;
    height: 179px;
    display: table;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#48adb6+33,9182c6+100 */
    background: #48adb6;
    /* Old browsers */
    background: -moz-linear-gradient(left, #48adb6 33%, #9182c6 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #48adb6 33%, #9182c6 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #48adb6 33%, #9182c6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#48adb6', endColorstr='#9182c6', GradientType=1);
    /* IE6-9 */
}

.branding {
    height: 51px
}

.logo {
    position: relative;
    margin: 10px auto;
    width: 182px;
    height: 36px;
    background-image: url('../images/logo-desktop@2x.png');
    background-repeat: no-repeat;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
}

.outer-container {
    max-width: 1203px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.inner-container {
    max-width: 556px;
    margin: 0 auto;
}

.enter-information {
    height: 149px;
    position: relative;
    width: 100%;
    display: table;
}

.form-outer {
    position: relative;
    width: 100%;
}

#test {
    position: absolute;
    width: 100px;
    height: 735px;
    background-color: red;
    top: 0px;
    left: 0px;
}

.form-inner {
    background-color: #f7f7f7;
    width: 100%;
    padding: 15px 0;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

label {
    margin-bottom: .75rem;
}

.dob-group {
    display: flex;
    width: 100%;
}

.dob-select {
    width: 33%;
}

.dob-select select {
    width: 164px;
    height: 35px;
}

.lightGrey {
    color: #cccccc;
}

#dobYear {
    float: right;
}

.form-group {
    position: relative;
}

.country-select label {
    padding: 10px;
}

.country-select img {
    width: 50px;
    height: 30px;
}


/*  specific font sizes other than default */


/* header register */

.heading-title {
    color: #fff;
    font-size: 60px;
    letter-spacing: -0.7px;
    line-height: 69px;
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Arial MT Std Medium';
    font-weight: bolder;
}


/* enter information text */

.enter-information h5 {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.lorem-ipsum {
    font-size: 12px;
    color: #206FCC;
    line-height: 14px;
    position: absolute;
    right: 0px;
    top: 0;
}


/*******************************
    CSS DEFINITIONS FOR MOBILE 
*******************************/

@media screen and (max-width:767px) {
    .outer-container {
        max-width: 360px;
        width: 100%;
        height: 100%;
    }
    /*  specific font sizes other than default */
    /* header register */
    .branding {
        border: 2px solid #dadada;
        height: 51px;
    }
    .logo {
        margin: 0 auto;
        width: 157px;
        height: 28px;
        background-image: url('../images/logo-mobile@2x.png');
        background-repeat: no-repeat;
    }
    .enter-information {
        height: 96px;
        position: relative;
        width: 100%;
        display: table;
    }
    .heading {
        height: 104px;
    }
    .heading-title {
        font-size: 30px;
        line-height: 34px;
        margin: 0 auto;
        text-align: center;
    }
    .enter-information h5 {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
    .form-outer {
        padding: 0 15px;
    }
    .dob-select select {
        width: 95%;
    }
}